body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    gap: 20px; /* Espacio entre las columnas */
    margin-bottom: 20px; /* Espacio antes del contacto */
}

.steps {
    background-color: #94283b;
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 30%; /* Ancho relativo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.steps h2 {
    text-align: center;
}

.steps ul {
    padding-left: 20px;
}

.steps li {
    margin: 10px 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%; /* Ancho relativo */
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

/* Estilos para errores */
.error {
    color: red;
    font-size: 14px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el apartado de contacto */
.contact {
    text-align: center;
    font-size: 16px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding-right: 40px;

    }

    .steps, .form-container {
        width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    }

    .steps {
        margin-bottom: 20px; /* Espacio entre las secciones en móvil */
    }
}